name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write
  packages: write
  pull-requests: write
  issues: read
  statuses: write
  checks: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Set node LTS
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: 'chore(release): Publish'
          title: 'Changesets: Version Packages'
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
